<!doctype html>
<html>
  <head>
    <title>Login</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="stylesheet" href="{% static 'css/login.css' %}">

  </head>

{% load static %}

{% block content %}

{% if user.is_authenticated %}

<div class="login-box">
    <h1>You’re already logged in as {{ user.username }}</h1>

    <div class="button-group">
        <a href="{% url 'post_login_redirect' %}" class="button">
            Continue as {{ user.username }}
        </a>

        <form method="post" action="{% url 'logout' %}">
            {% csrf_token %}
            <button type="submit" class="button">Logout</button>
        </form>
    </div>
</div>

{% else %}


<div style="display: flex; justify-content: center; margin-top: 2rem;">
    <form method="post" class="form" novalidate>
        {% csrf_token %}
        {% if next %}
            <input type="hidden" name="next" value="{{ next }}">
        {% endif %}

        <p class="form-title">Sign in to your account</p>

        {{ form.non_field_errors }}

        <!--username -->
        <div class="input-container">
            <input 
                type="text"
                name="{{ form.username.name }}"
                id="{{ form.username.id_for_label }}"
                placeholder="Username"
                value="{{ form.username.value|default:'' }}"
                class="login-input"
            >
            {{ form.username.errors }}
        </div>

        <!-- password -->
        <div class="input-container">
            <input 
                type="password"
                name="{{ form.password.name }}"
                id="{{ form.password.id_for_label }}"
                placeholder="Password"
                class="login-input"
            >
            {{ form.password.errors }}
        </div>

        <button type="submit" class="submit">Sign in</button>

        
    </form>
</div>

{% endif %}
{% endblock %}
